<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
        <header class="navbar navbar-dark bg-dark">
          <div class="container-fluid">
              <a class="navbar-brand mb-0 h1" href="/homepage">Wishlist</a>
          </div>
        </header>
      
      <ul class="navbar-nav  me-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/homepage">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/myfamily">My FamYOUly</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/calendar">Calendar</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto"></ul>
        <li class="nav-item">
          <a class="nav-link active" id="profileLink"aria-current="page" href="/profile">My Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" id="logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>