<header class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1 col-md-2">Wishlist</span>
    <div class="row">
      <div class="col-md-3 my-4 mx-2">
        <div class="form-floating">
          <input type="email" class="form-control" id="emailField" placeholder="name@example.com">
          <label for="emailField">Email address</label>
        </div>
      </div>
      <div class="col-md-3 my-4">
        <div class="form-floating">
          <input type="password" class="form-control" id="passwordField" placeholder="Password">
          <label for="passwordField">Password</label>
        </div>
      </div>
      <button class="btn btn-dark col-md-1" type="submit" id="signinBtn">Sign in</button>
      <a href="createfamily" class="btn btn-dark col-md-2 d-flex align-items-start" id ="loginBtn" tabindex="-1"
        role="button">Sign Up</a>
    </div>
  </div>
</header>

</div>

<p class="mt-5 mb-3 text-muted">Wishlist &copy; 2022</p>