<main class="form-signin">
  <form>
    <h1 class="h3 mb-3 fw-normal">Sign Up</h1>
    {{!-- <div class="form-floating">
      <input type="text" class="form-control" id="familynameField" placeholder="Degen">
      <label for="familynameField">FamYOUly Name</label>
    </div> --}}
    <div class="form-floating">
      <input type="text" class="form-control" id="firstnameField" placeholder="Degen">
      <label for="firstnameField">First Name</label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="lastnameField" placeholder="Degen">
      <label for="lastnameField">Last Name</label>
    </div>
    {{!-- <div class="form-floating">
      <input type="text" class="form-control" id="roleField" placeholder="Degen">
      <label for="roleField">Role</label>
    </div> --}}
    <div class="form-floating">
      <input type="email" class="form-control" id="emailField" placeholder="name@example.com">
      <label for="emailField">Email address</label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="usernameField" placeholder="username">
      <label for="usernameField">Username</label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="phoneField" placeholder="555-123-4567">
      <label for="phoneField">Phone Number</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="passwordField" placeholder="Password">
      <label for="passwordField">Password</label>
    </div>
    {{!-- <button class="w-100 btn btn-lg btn-dark" type="submit" id="signupBtn">Request Access</button> --}}
    <p>Already A Member? Login <a href="login">Here</a> </p>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
  </form>
</main>